<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contacto</h3>
      <p><i class="fas fa-map-marker-alt"></i> {{ address }}</p>
      <p><i class="fas fa-clock"></i> {{ horario }}</p>
      <!-- Espacio entre mailto y {{ email }} -->
      <p><i class="fas fa-envelope"></i><a href="mailto:{{ email }}"> {{ email }}</a></p> 
    </div>

    <div class="footer-section">
      <h3>Enlaces Rápidos</h3>
      <ul class="quick-links">
        <li><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
        <li><a routerLink="/mapa-sitio">Mapa del Sitio</a></li>
        <li><a routerLink="/politica-privacidad">Política de Privacidad</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/muninuevochimboteoficial" target="_blank" class="icon-fb"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank" class="icon-tw"><i class="fab fa-x"></i></a>
        <a href="https://www.instagram.com/muni_nuevochimbote" target="_blank" class="icon-ig"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank" class="icon-ig"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank" class="icon-ig"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} {{ municipalityName }}. Todos los derechos reservados.</p>
  </div>
</footer>